/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

ul>li.color-preview{
	display: inline-block;
	margin: 2px 0;
}


.design-combo{
	display: block;
	width: 100%;
	padding: 10px 10px;
}


